<%- include header.ejs %>

	<!-- section -->
	
	<section class="inner_banner" style="padding-top: 76px;">
	  <div class="container">
	      <div class="row">
		      <div class="col-12">
			     <div class="full">
				     <h3>About us</h3>
				 </div>
			  </div>
		  </div>
	  </div>
	</section>
	
	<!-- end section -->
   
	<!-- section -->
    <div class="section margin-top_50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <h2><span>Welcome To</span> Shortlist</h2>
                        </div>
						<div class="full">
						  <p>Vissla, an eCommerce shop, wanted a better way to track the results of marketing campaigns across multiple channels.
                            The company decided to use shortlist Campaigns to build a comprehensive view across every channels.
                        </p>
						</div>
						<div class="full">
						   <a class="hvr-radial-out button-theme" href="#">About more</a>
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="full">
                        <img src="images/img2.png" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
	<!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
						   <h2><span>Grow Your </span>Brand </h2>
                        </div>
					  </div>
                </div>
				<div class="col-md-4">
                    <div class="full blog_img_popular">
                       <img class="img-responsive" style="height:194.4px;" src="images/dataimage1.png" alt="#" /> 
					   <h4>Inspire trust</h4>
                    </div>
                </div>
				<div class="col-md-4">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="images/dataimage2.png" alt="#" />
						<h4>Boost results</h4>
                    </div>
                </div>
				<div class="col-md-4">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="images/dataimage3.png" alt="#" />
						<h4>Gain control</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
	<%- include footer.ejs %>