<%- include header.ejs %>

	<!-- section -->
    <div class="section layout_padding padding_bottom-0" id="contactus">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
						   <h2><span>Sign Up</span></h2>
                        </div>
					  </div>
                </div>
			  </div>
           </div>
        </div>
	<!-- end section -->
	<!-- section -->
    <div class="section contact_section" >
        <div class="container">
               <div class="row">
                 <div class="col-lg-6 col-md-4 col-sm-12">
				    <div class="full float-right_img" >
                        <img src="images/img10.png" alt="#">
                    </div>
                 </div>
				 <div class="layout_padding col-lg-6 col-md-8 col-sm-12" style="padding-top:0px;">
				    <div class="contact_form">
					    <form action="/signup/data" method="post">
						   <fieldset>
						       <div class="full field">
							      <input required="" type="text" placeholder="Enter Your First Name" name="fname" />
                               </div>
                               <div class="full field">
                                <input required="" type="text" placeholder="Enter Your Last Name" name="lname" />
                             </div>
							   <div class="full field">
							      <input required="" type="email" placeholder="Email Address" name="email" />
                               </div>
                               <div class="full field">
                                <input required="" type="password" pattern="[A-Z]+[a-z]+[0-9]+{6,16}" placeholder="Enter Your password" name="password" />
                             </div>
							   <div class="full field">
							      <input required="" type="text" pattern="[0-9]{10}" placeholder="Phone Number" name="phoneno" />
							   </div>
							   <div  class="full field" style=" margin: auto;width: 655px;">
                                       <input type="radio" value="male" name="gender" checked="" style="width:3%;">Male
                                        <input type="radio" value="female" name="gender" style="width:3%;"/>Female
							   </div>
							   <div class="full field">
							      <div class="center"><button type="submit">Sign Up</button></div>
							   </div>
						   </fieldset>
						</form>
					</div>
                 </div>
               </div>			  
           </div>
        </div>
	<!-- end section -->
    <%- include footer.ejs %>